        #logoContainer, #headerPreserve{
            padding-top: 2.5em !important;
            min-height: 6.2em !important;
        }
        
        #headerPrimaryNav, #headerLogin{
            padding-top: 0.5em;
            margin-left: 0;
        }
        #headerPrimaryNav li {
            margin-left: 15px;
            padding-left: 0;
        }
        #headerPrimaryNav :first-child {
            margin-left: 0;
        }
        #headerPrimaryNav li a {
            padding: 4px 0px;
            font-weight: bold;
            font-size: 1.1em;
        }
        #headerLogin > li > a{
            padding: 4px 5px !important;
        }
        #headerLogin > li {
            float: right;
        }
        #subHeaderBG{
            background: rgba(61,61,62,0.90);
            width: 100%;
            min-height: 1em;
            line-height: 1em;

            -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53D3D3E,endColorstr=#E53D3D3E);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53D3D3E,endColorstr=#E53D3D3E);
        }
        @media (min-width: 1054px) and (max-width: 1366px){            
            #headerMain, #headerSub,
            .mainContent{
                width: 90% !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
            #headerMain, #headerSub,
            .mainContent {
                width: 75%;
                /*max-width: 1500px;*/
                margin-left: auto;
                margin-right: auto;
            }
        /*@media (max-width: 979px) {
            .container.sub{
                margin: 0.1em 0.39em 0.1em 0.39em;
            }
        }*/

        #subHeaderBG{
            background: rgba(61,61,62,0.90);
            width: 100%;
        }
        
        #headerSubNav{
            margin-bottom: 0;
            padding: 4px 0;
        }

        .breadcrumb > li{
            text-shadow: none;

        }
        #headerSubNav > li
        :hover{
            color: white;
            text-decoration: none;
        }
        body {
            padding-top: 15em;
            padding-bottom: 0;
        }
        .navbar.navbar-fixed-top.navbar-inverse{
            margin-bottom: 0;
        }
        #footerContainer{
            background: rgb(27, 27, 27);
            width:100%;
            padding:0;
            margin: 0 auto;
        }
        #footerContent{
            text-align: center;
            margin-bottom: 0;
            padding-top: 2em;
            padding-bottom: 2em;
            color: white;
        }
        #line{
            min-height: 0.7em;
            background: rgb(186, 216, 10);
        }
        #localeContainer{
            padding-top: 6px;
        }
        #localeIconContainer, #localeTextContainer{
            border: 0;
        }
        #localeIcon{
            vertical-align: text-bottom;
        }
        #localeIconContainer{
            padding: 4px 4px;
            min-width: 0;
        }
        #localeTextContainer:hover{
            background-color: rgb(65,65,65);
            z-index: 0;
        }
        .win-backbutton{
            margin: 0.25em auto;
            display: block;
            line-height: 48px;
        }
        .win-backbutton::before {
            margin-top: -0.25em;
            margin-left: -0.5em;
            position: absolute;
        }
        #appHeaderWrapper {
            margin-top: 1em;
            margin-bottom: 1.5em;
        }

        #leftContent
        a:hover {
            text-decoration: none;
            opacity: 0.7;
            color: white;
        }
        .inline {
            display: inline-block;
        }
        .ratingStars {
            line-height: 1em;
        }
        .marginBottom40 {
            margin-bottom: 40px;
        }
        .marginBottom20 {
            margin-bottom: 20px;
        }
        .marginBottom15 {
            margin-bottom: 15px;
        }
        .marginBottom10 {
            margin-bottom: 10px;
        }
        .marginBottom5 {
            margin-bottom: 5px;
        }
        #downloadBtn {
            border: 2px solid white;
            background-color: transparent;
            text-shadow: none;
        }
        .fg-color-white {
            color: white;
        }
        .breadcrumb {
            background: transparent;
            padding: 0;
        }
        #productDetails {
            margin-top: 10em;
        }
        .carousel-control {
            line-height: 1em !important;
            font-size: 2em !important;
        }
        .unselectable {
            -moz-user-select     : none;
            -khtml-user-select   : none;
            -webkit-user-select  : none;
            -o-user-select       : none;
            user-select          : none;
        }
        a:active,
        a:focus {
            outline-style: none;
            -moz-outline-style:none;
        }
        #rightTabNav > li > a{
            border: 0;
        }
        #rightTabNav > li > a:hover{
            border: 0;
            background: none;

        }
        #rightTabNav {
            border-bottom: 0;
        }

        #rightTabNav > .active > a, .nav-tabs > .active > a:hover {
            border: 0;
            background-color: white;
        }
        .boldText {
            font-weight: bold;
        }
        .inputBlock {
	        margin-bottom: 20px;
	        border-left: 5px solid transparent;
	    }
	    .inputBlockBG {
	        background-color: rgb(246, 246, 246);
	        border-left: 5px solid #2bc3fa;
	    }
	    .inputBarBlock {
	        position: relative;
	        margin-left: 5%;
	    }
	    .inputBar {
	        padding-left: 2.75em !important;
	        min-height: 2.75em !important;
	        min-width: 85% !important;
	        margin-top: 20px !important;
	        margin-bottom: 20px !important;
	        border-width: 1px !important;
            line-height: 2.5em !important;
	    }
	    .inputBarIcon {
	        position: absolute;
	        left: 2%;
	        top: 40%;
	    }
	    #loginModal > .modal-body {
	    	padding-left: 0;
	    	padding-right: 0;
	    }
	    .mainContent {
	    	padding-bottom: 40px;
	    }
        #langContainer {
            padding-bottom: 40px;
            padding-top: 20px;
            position: relative;
        }
        #localeDropdown {
            border-radius: 0;
            border: 0;
            top: auto;
            bottom: 100%;
        }
        #localeDropdown a {
            color: rgb(153,153,153);
        }
        #localeDropdown:hover {
            background-color: #414141;
        }
        #localeDropdown a:hover {
            color: white;
        }