* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }
  table td {
    vertical-align: middle !important;
    font-size: 1.2em;
  }
  table tr {
    border: 1px solid transparent;
  }
  #panelContentWrapper {
    /*padding: 20px;*/
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    height: 100%;
    background-image: url(${ request.static_url('win_nexus.web:static/images/background1.png') });
  }
  #leftPanel {
    background-color: rgb(250, 250, 250);
  }
  #leftPanel ul > li > a {
    color: rgb(46, 139, 204);

  }
  #mainContent {
    padding: 20px;
  }

  #leftPanel > ul > li {
    width: 100%;
  }
  #leftPanel > ul > li:first-child{
    margin-top: 20px;
  }

  #leftPanel > ul > li:last-child{
    margin-bottom: 20px;
  }

  #leftPanelContent {
    margin: 0;
    height: 100%;
  }

  #topNav > .navbar-inner {
    background-color: rgb(35, 45, 49);
    /*background-color: rgb(150, 190, 190);*/
  }
  #topNav > .navbar-inner > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 1px 5px rgb(136, 136, 136);
    -moz-box-shadow: 0px 1px 5px rgb(136, 136, 136);
    box-shadow: 0px 1px 5px rgb(136, 136, 136);
  }

  #topNav ul > li:first-child > a {
    /*border-left: 1px solid rgba(0, 0, 0, 0.25);*/
  }
  #topNav ul > li > a {
    padding: 10px 20px;
    /*font-size: 1.2em;*/
    font-weight: 600;
    color: rgb(168, 168, 168);
    /*color: rgb(210, 225, 225);*/
    text-shadow: none;
    border-bottom: 2px solid transparent;
    /*border-right: 1px solid rgba(0, 0, 0, 0.25);*/
  }
  #topNav ul > li > a:hover,
  #topNav ul > li > a.hover {
    color: white;
    /*background-color: rgb(23, 30, 39);*/
    /*-webkit-box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(255, 255, 255, 0.25);*/

    -webkit-box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, -3px 0px 3px -3px rgba(0, 0, 0, 0.5) inset, 1px 0px 0px rgba(0, 0, 0, 0.25);
  }

  #flash-msgs {
    margin-top: 3px;
    position: relative;
    z-index: 0;
  }

  @media (min-width: 980px) {
    #mainContent {
      margin-left: 14.8936%;
    }
    #leftPanel {
      position: absolute;
      padding: 0;
      /*border-right: 1px solid rgb(212, 212, 212);*/
    }
    #leftPanel a{
      padding: 15px 30px;
      font-size: 1.1em;
    }
    #leftPanelContent {
      -webkit-box-shadow: inset -3px 0px 3px -2px rgba(20%, 20%, 40%, 0.5);
      -moz-box-shadow: inset -3px 0px 3px -2px rgba(20%, 20%, 40%, 0.5);
      box-shadow: inset -3px 0px 3px -2px rgba(20%, 20%, 40%, 0.5);
    }
    #leftPanelContent > li.nav-header + li.active {
      margin-top: 10px;
    }
    #leftPanelContent > .active > a {
      margin-right: -1px;
      border-right: 0;
      -webkit-box-shadow: -5px 0px 4px rgb(136, 136, 136);
      -moz-box-shadow: -5px 0px 4px rgb(136, 136, 136);
      box-shadow: -5px 0px 4px rgb(136, 136, 136);
    }
  }
  @media (min-width: 1200px) {
    #mainContent {
      margin-left: 14.5299%;
    }
  }
  @media (min-width: 768px) and (max-width: 979px) {
    #panelContentWrapper{
      margin-top: -20px;
      padding-top: 0;
    }
    #leftPanel {
      border-bottom: 1px solid rgb(212, 212, 212);
    }
    #leftPanel a{
      padding-left: 35px;
      padding-right: 35px;
      /*padding-top: 10px;*/
      /*padding-bottom: 10px;*/
      /*font-size: 1.1em;*/
    }
    #mainContent {
      margin: 0;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 10px;
    }

    #leftPanel > ul > li:first-child{
      margin-top: 0;
    }

    #leftPanel > ul > li:last-child{
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px)  {
    #panelContentWrapper{
      padding-top: 0;
    }
     .navbar-inner .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-fixed-top {
      margin: 0;
    }
    #leftPanel {
      border-bottom: 1px solid rgb(212, 212, 212);
    }
    #leftPanel > ul > li:first-child{
      margin-top: 0;
    }

    #leftPanel > ul > li:last-child{
      margin-bottom: 0;
    }
  }