body {
	padding-top: 0;
}

#topNav {
	-webkit-box-shadow: 0px 2px 6px -2px #888;
	-moz-box-shadow: 0px 2px 6px -2px #888;
	box-shadow: 0px 2px 6px -2px #888;
}

#topNav > .navbar-inner {
	height: 7em;
	font-size: 16px;
	background-color: rgb(53,72,86);
	border: 1px solid rgb(112,112,112);
}
/*#topNav > .navbar-inner > .container-fluid > .row-fluid > ul {
	display: inline-block;
	text-align: center;
}
#topNav > .navbar-inner > .container-fluid > .row-fluid > ul.pull-left {
	margin-left: 0;
}*/
#near-nav-container,
#far-nav-container {
	margin-top: 2.25em;
	text-align: center;
	/*margin-bottom: 2.5em;*/
}
#topNav > .navbar-inner .nav {
	display: inline-block;
}
#topNav > .navbar-inner .nav i {
	vertical-align: sub;
}
#topNav > .navbar-inner .nav a{
	/*line-height: 1em;*/
	padding: 0.75em 1em;
	color: rgb(195,195,195);
	text-shadow: none;
	/*float: left;*/
	display: inline-block;
}
#topNav > .navbar-inner .nav a:hover{
	color: rgb(248, 248, 248);
	text-shadow: 0px 0px 1px white;
}
/*#topNav > .navbar-inner .nav li:after {
	content:"|";
	color:rgb(48, 48, 48);
	text-shadow: 0px 0px 1px rgba(165, 165, 165, .7);
	font-size: 1.2em;
}
#topNav > .navbar-inner .nav li:last-child:after{
	content:"";
}*/
#topNav > .navbar-inner .logoContainer{
	position: absolute;
	top: 1.25em;
	left: 50%;
	display: inline-block;
	margin-left: -2.25em;
	width: 4.5em;
}

#topNav > .navbar-inner .logoContainer > img {
	height: 4.5em;
	width: 4.5em;
	margin: 0px;
}

#slogon {
	text-align: center;
	padding-top: 10em;
	padding-bottom: 5px;
	text-shadow: 0px 1px 2px #808080;
	line-height: normal;
}
#slogon > .row-fluid > span{
	font-size: 3em;
	font-weight: 600;
}
ul.app-block-wrapper {
	margin: 0;
}

/*.title-wrapper, #filter-wrapper{
	text-align: center;
}*/

#mainContentWrapper > .mainContent {
	/*padding-bottom: 40px;*/
}
hr {
	/*margin: 0;*/
	border-color: rgb(220, 220, 220) -moz-use-text-color rgb(255, 255, 255);
}
footer {
	text-align: center;
	color: rgb(158,158,158);
	text-shadow: 0px 1px 1px white;
	padding: 20px 0px;
}
@media (min-width: 1600px) {
	.container-fluid {
		width: 1600px;
		margin: 0 auto;
	}

}

@media (max-width:480px)	{.media {width:100%;}}
@media (min-width:481px) and (max-width:767px)	{.media {width:50%;}}
@media (min-width:768px) and (max-width:979px) {.container-fluid{padding: 0;}.media {width:33.33%;}}
@media (min-width:980px)	{.media {width:25%;+width:24.5%;}}
@media (min-width:1281px)	{.media {width:20%;}}
@media (max-width: 979px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: fixed;
	}
}
@media (max-width: 767px) {
	#topNav .container-fluid {padding: 0px 20px;}
	/*#topNav .row-fluid > div{float: none;}*/
	/*#topNav > .navbar-inner .logoContainer{
		position: relative;
		width: 100%;
		left: auto;
		margin-left: 0;
	}*/
	/*#topNav > .navbar-inner .logoContainer > a{padding: 0; float: right; margin: 0.75em;}*/
}
@media (max-width: 700px) {
	#topNav > .navbar-inner nav,
	#topNav > .navbar-inner .nav {
		margin: 0 auto; float: none;
	}
	#topNav > .navbar-inner .nav a{
		/*line-height: 1em;*/
		padding: 0.4em 1em;
	}
	#near-nav-container {padding-top: 6em;}
	#topNav > .navbar-inner {
		height: 11em;
	}
	#slogon {
		padding-top: 14em;
	}
}
@media (max-width: 319px) {
	.navbar-fixed-top {
		position: static;
	}
	#slogon {
		padding-top: 0;
	}
	#topNav > .navbar-inner {
		height: auto;
	}
	#topNav > .navbar-inner .nav,
	#topNav > .navbar-inner .nav > li {
		display: block;
		float: none;
	}
}
/*.row-fluid .pull-left[class*="span"]:last-child { margin-left: 0; }*/
/*@media screen and (min-width:1080px)	{.media {width:20%;}}
@media screen and (min-width:1350px)	{.media {width:16.6666%;}}
@media screen and (min-width:1620px)	{.media {width:14.2857%;}}
@media screen and (min-width:1870px)	{.media {width:12.5%;}}
@media screen and (min-width:2150px)	{#header, #filter {width:2114px;} #grid {width:2146px;}}*/


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav a {
	position: relative;
	display: block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
display: inline-block;
opacity: 0;
-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
-moz-transition: -moz-transform 0.3s, opacity 0.2s;
transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
margin-right: 10px;
content: '[';
-webkit-transform: translateX(20px);
-moz-transform: translateX(20px);
transform: translateX(20px);
}

.cl-effect-1 a::after {
margin-left: 10px;
content: ']';
-webkit-transform: translateX(-20px);
-moz-transform: translateX(-20px);
transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
opacity: 1;
-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
transform: translateX(0px);
}

/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}