.block-header, .block-header .spanIE6 {
            _margin-left: 0;
        }
        body {
            _padding: 0;
        }
        .spanIE6 {
            _float: left;
            _min-height: 1px;
            _margin-left: 20px;
        }
        .pull-right {
            _float: right;
        }
        .spanIE6 .firstChild{
            _margin-left: 0;
        }

        #headerMain, #headerSub,
        .mainContent, #footerContent {
            _width: 75%;
            /*max-width: 1500px;*/
            _margin-left: auto;
            _margin-right: auto;
        }
        #headerMain {
            _padding-top: 2em;
        }
        #headerNearChild, #headerPrimaryNav, #headerSubNav, #footerContent .firstChild{
            _margin-left: 0;
        }
        .nav li a.hover, #headerLogin li a.hover{
            _color: white !important;
            _background-color: transparent !important;
            _text-decoration: none;
        }
        #headerLogin li {
            _float: right;
            _margin-left: 15px;
        }
        .navbar .nav li, .breadcrumb li, #headerLogin a{
            _float: left;
        }
        #headerPrimaryNav .nav li {
            _margin-right: 15px;
        }
        .nav li a{
            _padding: 4px 0px;
            _font-weight: bold;
            _font-size: 1.1em;
            _color: rgb(153, 153, 153);
            _text-decoration: none;
        }
        
        #headerPrimaryNav, #headerSubNav {
            _padding: 4px 0;
            _margin-bottom: 0;
            _background: transparent;
        }
        #headerSubNav li, #headerSubNav a, #headerSubNav span {
            _float:left;
        }
        #subHeaderBG{
            /*background:none;*/
            _-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53D3D3E,endColorstr=#E53D3D3E);
            _filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53D3D3E,endColorstr=#E53D3D3E);
            _zoom: 1;            
            _background: rgba(61,61,62,0.90);
        }
        #headerFarChild {
            _margin-left: 0;
            _margin-right: 0;
            _float: right;
        }
        #headerLogin {
            _margin-right: 0;
        }
        #footerContainer{
            _background: rgb(27, 27, 27);
            _width:100%;
            _padding:0;
            _margin: 0 auto;
        }
        #footerContent{
            _text-align: center;
            _margin-bottom: 0;
            _padding-top: 2em;
            _padding-bottom: 2em;
            _color: white;
        }
        #line{
            _min-height: 0.7em;
            _background: rgb(186, 216, 10);
        }
        #mainContentWrapper {
            _padding-bottom: 40px;
        }
        .breadcrumb a.active {
            _background-color: transparent;;
        }
        .marginBottom40 {
            _margin-bottom: 40px;
        }
        #filter-wrapper .active {
            _background: gray;
            _color: white;
        }